<head>
<link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>

<h1 class="show_title"><a href="http://localhost:3000/go">Ritly!</a></h1>

<h1>Your Profile!</h1>

<div class="row">
    <aside class="span4">
    	<div>Your Username: <%=@user.name%>
    	<div>Your Email: <%=@user.email%>
    </aside>
</div>